@model ZavicajnoDrustvo.Models.InteGruViewModel
@{
    ViewBag.Title = "Member";
}

<h2></h2>

@{
    ViewBag.Title = "Zahtjev poslan";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vaš zahtjev za učlanjivanjem u grupu @Model.name je poslan.
    </p>
</div>